<mat-toolbar color="primary">
  <button
    (click)="isInfoOpen = !isInfoOpen"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    mat-icon-button
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>information</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>Car Pool App</span>
  <span class="example-spacer"></span>
  <mat-slide-toggle (toggleChange)="toggleIsDark()">
    <mat-icon class="icon">dark_mode</mat-icon>
  </mat-slide-toggle>
</mat-toolbar>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isInfoOpen"
>
  <mat-card class="overlay-card">
    <app-info-overlay> </app-info-overlay>
  </mat-card>
</ng-template>
