<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="imageObject" class="avatar"></div>
    <mat-card-title>{{ username }}</mat-card-title>
    <mat-card-subtitle>{{ subName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-divider> </mat-divider>
      <div mat-subheader>Date and Time</div>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line>{{ date }}</div>
      </mat-list-item>
      <mat-divider> </mat-divider>
      <div mat-subheader>
        {{ isRequest ? "Seats Needed" : "Seats Available" }}
      </div>
      <mat-list-item>
        <mat-icon mat-list-icon>airline_seat_recline_normal</mat-icon>
        <div mat-line>{{ seatingAmount }}</div>
      </mat-list-item>
      <mat-divider> </mat-divider>
      <div mat-subheader>Phone Number</div>
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <div mat-line>{{ phoneNumber }}</div>
      </mat-list-item>
      <mat-divider> </mat-divider>
      <div mat-subheader>More Information</div>
      <mat-list-item>
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line>{{ moreInfo }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
