@use "../../responsive.scss" as responsive;
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: {
    top: 30px;
    bottom: 30px;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  padding-top: 14px;
}
.background {
  background-color: white;
}

fa-icon {
}

button {
  cursor: pointer;
}
p {
  line-height: 0px;
}
mat-card {
  @include responsive.for-size(XLarge) {
    width: 50%;
  }
  @include responsive.for-size(Large) {
    width: 60%;
  }
  @include responsive.for-size(Medium) {
    width: 70%;
  }
  @include responsive.for-size(Small) {
    width: 80%;
  }
  @include responsive.for-size(XSmall) {
    width: 90%;
  }
}
