<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <mat-icon>directions_car</mat-icon>
    </div>
    <mat-card-title>Username</mat-card-title>
    <mat-card-subtitle>Request Offer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-divider> </mat-divider>
      <div mat-subheader>Date</div>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line></div>
      </mat-list-item>
      <mat-divider> </mat-divider>
      <div mat-subheader>Open seats</div>
      <mat-list-item>
        <mat-icon mat-list-icon>airline_seat_recline_normal</mat-icon>
        <div mat-line></div>
      </mat-list-item>
      <mat-divider> </mat-divider>
      <div mat-subheader>Phone Number</div>
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <div mat-line></div>
      </mat-list-item>
      <mat-divider> </mat-divider>
      <div mat-subheader>More Information</div>
      <mat-list-item>
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line></div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
