<button
  disableRipple="true"
  (click)="toggleFeed()"
  color="accent"
  *ngIf="showingRequests"
  mat-raised-button
>
  Ride Requests
</button>
<button
  (click)="toggleFeed()"
  *ngIf="showingRequests"
  mat-stroked-button
  disableRipple="true"
>
  Ride Offers
</button>
<button
  (click)="toggleFeed()"
  *ngIf="!showingRequests"
  mat-stroked-button
  disableRipple="true"
>
  Ride Requests
</button>
<button
  color="accent"
  (click)="toggleFeed()"
  *ngIf="!showingRequests"
  mat-raised-button
  disableRipple="true"
>
  Ride Offers
</button>
